@import "../../../styles/theme";

.loginBtn {
  position: absolute;
  right: 0px;
  padding: 8px 20px 10px 10px;
} 
.loginBtn button{ 
  background-color: white; 
  margin-left: 10px; 
} 
.loginBtn button:hover {
  background-color: #dcdcdc !important;
}
.buttonClose{
  background-color: #cdcdcd;
  margin: 0 0 0 0 !important;
  width: 130px;
}
.buttonClose:hover {
  background-color: #dcdcdc !important;
}

.buttonLogin{
  background-color: #303f9f;
  color: white !important;
  margin: 0 11px 0 0 !important;
  width: 130px;
}
.buttonLogin:hover {
  background-color: #517ABF!important;
}
.buttoner{
  margin-left: 10px;
  background-color: #cdcdcd!important;
}