.customerForm {

}

.orderRow {
  display: flex;
  :first-child {
    width: 50%;
    :first-child {
      width: 100%;
    }
  }
  :last-child {
    width: 50%;
    :first-child {
      width: 100%;
    }
  }
}