.emptyCart{
	span{
	   h2{
	      text-align: center;
	   }
	}
}

.buttonConfirm {
  margin-top: 12px!important;
  width: 140px;
}
.buttonRemove {
  margin: 12px 10px 0px 0px!important;
  width: 140px;
  background-color: #cdcdcd!important;
}
