.orderDetailWrapper {

  .ingredientsList {
    padding: 0;
    margin: 0;
    display: inline;

    .ingredient {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-of-type:after {
        content: "";
      }
    }
  }
}
.orderDetails{
  overflow-y: auto;
  overflow-x: auto;
  div{
    margin-top: 30px;
    div{
      margin-top: 5px;
    }
    label{
      font-weight: bold;
    }
  }
}