.orderDetailWrapper {

  .ingredientsList {
    padding: 0;
    margin: 0;
    display: inline;

    .ingredient {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-of-type:after {
        content: "";
      }
    }

  }

}