
.pizzaList {
  border-collapse: collapse;
  width: 100%;

  .pizzaListTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;

    .columnLeft {
      text-align: left;
    }

    td {
      padding: 0.2em 0 0.2em 0;
    }
    button {
      margin: -9px 0 5px 0;
    }
    label {
      margin-top: 10px;
    }
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    }
  }

  .disabled {
    cursor: not-allowed;

    & * {
      cursor: not-allowed;
    }
  }

  .ingredientsList {
    padding: 0;
    margin: 0;

    .ingredient {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-of-type:after {
        content: "";
      }
    }

  }

}
.tableHeaderSortable{
  cursor: pointer;
}

.paginationLane {
  display: flex;
  justify-content: flex-start;
}

.sortName {
  width: 10em;
  margin-right: 1em;
}

.sortSize {
  width: 5em;
  margin-right: 1em;

}

.paginationBase {
  padding: 0.5em;
  align-self: center;
  cursor: pointer;
}

.paginationSelected {
  @extend .paginationBase;
  background-color: $primary-color;
  color: white;
}

.paginationNormal {
  @extend .paginationBase;
}
