@import '_config.scss';

html {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

header{
  height: 80px!important;
}

.disabled, .disabled *, .disabled * * {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}