@import "../../../styles/theme";

.orderList {
  border-collapse: collapse;
  width: 100%;

  .orderListTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;

    .columnLeft {
      text-align: left;
    }

    td {
      padding: 0.4em 0.3em 0.4em 0.3em;
      min-width: 75px;

      &.dateColumn {
        width: 180px;
      }

      &.orderStatusColumn {
        width: 100px;
      }

    }

    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);
      height: 2.5em;
      vertical-align: top;
    }

    th {
      line-height: 2.1em;
    }
    label{
      margin-top: -3px;

      span{
        margin-top: 4px;
      }
    }
  }
  table{
    margin-bottom: 5px !important;
  }
  button{
    margin: 0 0 9px 9px !important;
  }
}

.stornoButton{
  button{
    height: 19px !important;
    line-height: 19px !important;
  }
}

.disabled {
  cursor: not-allowed;

  & * {
    cursor: not-allowed;
  }
}