.createPizza {

  h1 {
    color: #212121;
    padding: 0.64em 0;
    font-size: 1.28em;
    font-weight: normal;
  }

  .ingredientsList {
    padding: 0;
    margin: 0;
    display: inline-block;

    .ingredientItem {
      display: block;
      width: 25%;
      float: left;
    }
  }

  .err {
    color: #de3226;
  }

}

label:not(:focus) {
  color: #212121;
}

.insideNumbers{
  display: flex;
  div{
    flex-grow: 1;
  }
}