.createPizza {

  h1 {
    color: #212121;
    padding: 0.64em 0;
    font-size: 1.088em;
    font-weight: normal;
  }

  .ingredientsList {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;

    .ingredientItem {
      display: block;
      width: 25%;
      float: left;
    }
  }
  .dropDownList{
    ul{
      top: 0 !important;
      position: relative !important;
      padding: 3px !important;
      margin: -10px 0 0 0 !important;
    }
  }

  :focus {
    outline: 0!important;
  }
  .err {
    color: #de3226;
  }

}

label:not(:focus) {
  color: #212121;
}

.insideNumbers{
  display: flex;
  div{
    flex-grow: 1;
  }
}

.buttoner{
  margin: -5px 0 9px 8px!important;
}