.shoppingCartMenu {
  float: left;
  margin-right: 5px;

  .cartIcon {
    cursor: pointer;
    font-size: 36px;
    text-align: center;
    width: 65px;
  }
}
.caption{
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 65px;
  z-index: 1;
}